# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.db
*.sqlite3
*.log

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
static/
media/

# Virtual environments
venv/
env/
.venv/
.virtualenv/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
